.container {
  background-color: pink;

  min-width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-inline: 32px;
  margin-inline: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
